<br>
<div class="discuss">
	<div class="average-discuss-rating" data-score="<%= discuss.rating %>"></div>

	<div class="profile-tag-discuss">

	<%= link_to discuss.user.name , user_path, class: "user-tag"%></div>








	<p class="discuss-comment"><%= discuss.comment %></p>



	<% if user_signed_in? %>

		<% if discuss.user_id == current_user.id %>



				<%= link_to "Edit", edit_idea_discuss_path(discuss.idea, discuss), class: "btn btn-custom2" %>
				<%= link_to "Delete", idea_discuss_path(discuss.idea, discuss), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom2" %>




		<% end %>

	<% end %>

</div>
