<div class="ideae">
	<% if @ideas.count == 0 %>

		<div class="sorry">
			<%= image_tag("z.png", :alt => "rss feed") %>
		</div>
	<% else %>
		<div class="row">

			<% @ideas.each do |idea| %>
			<div class="card" style="width: 18rem;">
				<div class="imgBx">
					<a href="/ideas/<%= idea.id %>">
						<%= image_tag idea.idea_img.url(:idea_index), class: "idea" %>

					</a>

				</div>

			  <div class="card-body">
			    <h5 class="card-title"> <%= idea.title %></h5>



			    <p class="card-text"><%= idea.university_major.name %> </p>
					<div class="row">
						<div class="card-title2 col-6"><%= idea.user.name %>

						</div>

						<div class="card-title3 col-6">
						<%= time_ago_in_words(idea.created_at).upcase%> A GO

					  </div>

					</div>



			  </div>
			</div>



			<% end %>
		</div>

	<% end %>


</div>
