

	<div class="col-md-8  col-md-offset-3  landing-center  d-flex align-items-center ">

		<%= image_tag @idea.idea_img.url(:idea_show), class: "idea-show" %>

	</div>


	<div class="col-md-8  col-md-offset-3  landing-center  d-flex align-items-center ">

		<div class="idea-info">
			<br>
			<div class="average-discuss-rating" data-score=<%= @average_discuss %>></div>
			<div class="profile-tag-discuss">
			<%= link_to @idea.user.name, user_path, class: "user-tag"%></div>


			<span class="number-of-discusses">Based on <%= @idea.discusses.count %> Person</span>

			<h2 class="idea-title"><%= @idea.title %></h2>
			<p class="idea-content"><%= @idea.content %></p>
				<p class="key_word"> <%= @idea.key_word %></p>
			<br>

			<h5 class="idea-ow"> From : <%= @idea.Owner %></h5>

			<div class="">

				<%= time_ago_in_words(@idea.created_at).upcase%> A GO

			</div>
			<br>
			<br>

			<%= link_to "Add Discuss", new_idea_discuss_path(@idea), class: "btn btn-custom2" %>

			<% if user_signed_in? %>

				<% if @idea.user_id == current_user.id %>



					<%= link_to "Edit", edit_idea_path(@idea), class: "btn btn-custom2" %>
					<%= link_to "Delete", idea_path(@idea), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-custom2" %>

				<% end %>

			<% end %>
			<%= link_to "Back", root_path, class: "btn btn-custom2" %>

		</div>
	</div>

<br>




	<div class="col-md-8  col-md-offset-3  landing-center  d-flex align-items-center">

		<div class="discusses">



			<%= render @idea.discusses %>


		</div>

	</div>



<div>





<script>
	$('.discuss-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>


<script>
	$('.average-discuss-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
